// ----------------
// BRICK PICKER
//
// Component File
// ----------------

@import '~styles/vars';


@brick-height: 60px;


:local(.brickPicker) {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


:local(.brick) {
  color: @white;
  height: @brick-height;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    cursor: pointer;
  }
}


:local(.picker) {
  position: absolute;
  top: @brick-height;
  left: 0;
  padding: @base-padding;
  background: @white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}


:local(.brickExample) {
  margin-right: @base-margin;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    cursor: pointer;
  }
}


:local(.brickIcon) {
  height: 40px;
  margin-right: @base-margin-small;
}
